extend layout
block content
    if(images)
        ul.list-unstyled.image-list
            for image in images
                li
                    a(href="#{image.fullSizePath}")
                        img(src="#{image.thumbPath}")