doctype html
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/js/socket.io.js")
        script.
            $(function(){
                var socket = io.connect('http://localhost:3000/');
                socket.on('new-image', function(data) {
                    console.log('new image from: ');
                    console.log(data.user);
                    // images.push(data.image);
                    var html = '';

                    html += "<li>"
                    + "<a href=\"/uploads/fullsize/" + data.image + "\">"
                    + "<img src=\"/uploads/thumbs/" + data.image + "\" />"
                    + "</a></li>";

                    var users = jQuery(jQuery('.friends')[0]).find('a');
                    var allusers = [];
                    for(var i = 0; i < users.length; i++){
                        allusers.push(users[i].text);
                    }

                    if($.inArray(data.user, allusers) != -1) {
                        $('.image-list').append(html);
                    }
                });
            });

    body(ng-app='instagramclone' ng-controller="AppCtrl as app")
        .container
            .header
                ul.nav.nav-pills.pull-right
                    li
                        a.active(href="/") Home
                    if user
                        li
                            a(href='/profile') #{user.username}
                        li
                            a(href='/logout') Logout
                    else
                        li
                            a(href="/login") Login
                        li
                            a(href="/signup") Signup
                h3.text-muted Instagram Clone
            .jumbotron
                block content
            .footer
                p © Company 2014
        script(src="bower_components/angular/angular.js")
        script(src="/js/app.js")