doctype html
html
    head
        title #{title} - My Site
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/js/socket.io.js")
        script.
            $(function(){
                var socket = io.connect('http://localhost:3000/');
                var images = [];
                    socket.on('new-image', function(data) {
                    //if(data.image) {
                        console.log('new image');
                        console.log(data);
                        images.push(data.image);
                        var html = '';
                        for(var i=0; i<images.length; i++) {
                            html += "<li>"
                            + "<a href=\"/uploads/fullsize/" + images[i] + "\">"
                            + "<img src=\"/uploads/thumbs/" + images[i] + "\" />"
                            + "</a></li>";
                        }
                        $('.image-list').append(html);
                    //}
                });
            });

    body(ng-app='instagramclone' ng-controller="AppCtrl as app")
        .container
            .header
                ul.nav.nav-pills.pull-right
                    li
                        a.active(href="/") Home
                    if user
                        li
                            a(href='/profile') #{user.username}
                        li
                            a(href='/logout') Logout
                    else
                        li
                            a(href="/login") Login
                        li
                            a(href="/signup") Signup
                h3.text-muted Instagram Clone
            .jumbotron
                block content
            .footer
                p © Company 2014
        script(src="bower_components/angular/angular.js")
        script(src="/js/app.js")