extend layout
block content
    h1 Login
    form(action="/login" method="post")
        .form-group
            label Email
            input(type="text" class="form-control" name="email")
        .form-group
            label Password
            input(type="password" class="form-control" name="password")
        button(type="submit" class="btn btn-warning btn-lg") Login