extend layout
block content
    h1 Profile Page #{username}
    if ownPage == true
        form(action="/upload" method="post" enctype="multipart/form-data" role="form")
            .form-group
                label(for="fieldImage") Image:
                input(type="file" id="fieldImage" name="image" accept="image/*")
            button(type="submit" class="btn btn-default") Submit
    if loggedIn == true && ownPage == false
        a(href="/follow/#{username}") Follow Me
    ul
        for image in images
            li
                a(href="#{image.fullSizePath}")
                    img(src="#{image.thumbPath}")